on: [push, pull_request]
name: Test
jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        go-version: [1.23.x, 1.24.x]
        venv: [windows-2022, windows-2025]
        fips: [1, 0]
    runs-on: ${{ matrix.venv }}
    steps:
    - name: Install Go
      uses: actions/setup-go@v5
      with:
        go-version: ${{ matrix.go-version }}
    - name: Checkout code
      uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

    - name: Set FIPS mode
      run: REG ADD HKLM\SYSTEM\CurrentControlSet\Control\Lsa\FipsAlgorithmPolicy /v Enabled /t REG_DWORD /f /d ${{ matrix.fips }}
    - name: Run Test - Short
      run: go test -v -gcflags=all=-d=checkptr -count 1 ./...
      env:
        GO_TEST_FIPS: ${{ matrix.fips }}
    - name: Run Test - Long
      # Run each test 10 times so the garbage collector chimes in 
      # and exercises the multiple finalizers we use.
      # This can detect use-after-free and double-free issues.
      run: go test -v -gcflags=all=-d=checkptr -count 10 -short ./...
      env:
        GO_TEST_FIPS: ${{ matrix.fips }}
